/* ========== STYLES DE LA PAGE ACCUEIL ========== */

    .bg-accueil{
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../vue/image/Accueil/stade.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .image-callout{
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%), url("../vue/image/Accueil/super-cup.jpg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

/* ========== FIN STYLES DE LA PAGE ACCUEIL ========== */
    


/* ========== STYLES DE LA PAGE LISTMATCH ========== */

    .equipe-img {
        max-width: 50px;
        max-height: 50px;
        margin-right: 10px;
    }

    .equipe-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

/* ========== FIN STYLES DE LA PAGE LISTMATCH ========== */